/* reset*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
}
body,button,input,select,textarea,table {
	font:12px/1.5 arial,simsun,sans-serif;
}
input,select {
	vertical-align:middle;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
address,cite,dfn,em,var {
	font-style:normal;
}
/* 将斜体扶正 */
pre {
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}
code,kbd,pre,samp {
	font-family:courier new,courier,monospace;
}
/* 统一等宽字体 */
small {
	font-size:12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
ul,ol,li {
	list-style:none;
}
i {
	font-style:normal;
}
a {
	blr:expression(this.onFocus=this.blur());
	/*    IE Opera 去除链接虚线   */outline:none;
	/*    FF Opera去除链接虚线    */
}
a:focus {
	moz-outline-style:none;
}
/*FF去除链接虚线*/
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
input,button,select,textarea {
	outline:none
}
textarea {
	resize:none
}
sup {
	vertical-align:text-top;
}
/* 重置，减少对行高的影响 */
sub {
	vertical-align:text-bottom;
}
legend {
	color:#000;
}
/* for ie6 */
fieldset,img {
	border:0;
}
/*让链接里的 img 无边框 */
button,input,select,textarea {
	font-size:100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* 重置表格元素 */
div {
	outline:none
}

.clear_after {
	clear:both;
	font-size:0;
	width:0;
	height:0;
	line-height:0;
	overflow:hidden;
	zoom:1;
}
.border1px {
	border:1px solid #333;
}

.rel {
	position:relative;
	margin:0 auto;
}
.abs {
	position:absolute;
}
.aw_img {
	display:block;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:0 0;
}
.aw_img .aw_hoverimg {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	opacity:0;
}
a.aw_img:hover .aw_hoverimg {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	opacity:1;
}
.hide {
	display:none;
}
.hidden {
	display:none;
}
.h_auto {
	height:auto!important;
}

.inputarea {
	border:1px solid #e3e4e8;
	height:50px;
	line-height:14px;
	font-size:11px;
	background:#fff;
	color:#393F48;
}
.inputarea1 {
	border:1px solid #e3e4e8;
	height:80px;
	line-height:16px;
	font-size:11px;
	background:#fff;
	color:#000;
	overflow:auto;
}
.input {
	border:1px solid #e3e4e8;
	height:20px;
	line-height:20px;
	background:#fff;
	color:#000;
	font-family:arial;
}
.input0 {
	border:1px solid #e3e4e8;
	height:23px;
	line-height:23px;
	background:#fff;
	color:#000;
	font-family:arial;
}
.input1 {
	border:0;
	padding:0 5px;
	height:30px;
	line-height:30px;
	background:#393F48;
	color:#000;
}
.input2 {
	border:1px solid #e3e4e8;
	height:22px;
	line-height:22px;
	margin-right:3px;
	background:#fff;
	color:#000;
	font-family:arial;
}
.input3 {
	border:1px solid #e3e4e8;
	height:28px;
	line-height:28px;
	margin-right:3px;
	background:#fff;
	color:#393F48;
	font-family:tahoma!important;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}
select.input2 {
	height:24px;
}
.input_w1 {
	width:40px;
}
.input_w1_2 {
	width:80px;
}
.input_w2 {
	width:120px;
}
.input_w3 {
	width:160px;
}
.input_w3_1 {
	width:180px;
}
.input_w3_2 {
	width:150px;
}
.input_w4 {
	width:220px;
}
input.btn1 {
	height:24px;
	line-height:24px;
	padding:0 10px;
	border:0;
	margin-bottom:5px;
	cursor:pointer;
	color:#fff;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	border-radius:5px;
	background:#666;
}
.btn1 {
	border:0;
	height:24px;
	line-height:24px;
	cursor:pointer;
	color:#fff;
	background:#333;
}
.btn1:hover {
	background:#000;
}
.btn3 {
	border:0;
	height:24px;
	line-height:24px;
	cursor:pointer;
	color:#333;
	background:#eee;
}
.btn3:hover {
	color:#000;
	background:#ddd;
}
input:focus,textarea:focus {
	border-color:#000;
}

.fade {
	opacity:0;
	-webkit-transition:opacity 0.15s linear;
	transition:opacity 0.15s linear;
	outline:none;
}
.fade.in {
	opacity:1;
}
.fade .t {
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	transform:translate(0,-25%);
}
.fade.in .t {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	transform:translate(0,0);
}

.model_preview {
	z-index:9999999;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:none;
	overflow-y:auto;
	overflow-x:hidden;
}
.preview_content {
	position:relative;
	margin:0 0 20px 0;
	outline:none;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
	box-shadow:0 3px 9px rgba(0,0,0,0.5);
	background-clip:padding-box;
} 
.backdrop {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:999999;
	background-color:#000000;
}
.backdrop.fade {
	opacity:0;
	filter:alpha(opacity=0);
}
.backdrop.in {
	opacity:0.9;
	filter:alpha(opacity=90);
}
.preview_close {
	z-index:999;
	position:absolute;
	width:50px;
	height:50px;
	right:0;
	top:0;
	cursor:pointer;
	background:url(../images/csspic.png) -3px -21px #000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity:0.8;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.preview_close:hover{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
.tab_n {
	height:25px;
	border-bottom:1px solid #555;
}
.tab_n li {
	float:left;
	display:inline;
	margin-right:3px;
	margin-bottom;
	-1px;
}
.tab_n li a {
	display:block;
	height:24px;
	line-height:24px;
	padding:0 10px;
	border:1px solid #555;
	background:#555;
}
.tab_n li.activex a {
	border:1px solid #eee;
	border-bottom:1px solid #fff;
	background:#fff;
}
.tab_c .tab_pane {
	display:none;
}
.tab_c .activex {
	display:block;
}

.icheckbox_set {
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	position:static;
}

.ui-draggable {
	cursor:move;
}
.ui-resizable .ui-resizable-n,.ui-resizable .ui-resizable-e,.ui-resizable .ui-resizable-s,.ui-resizable .ui-resizable-w {
	line-height:0;
	font-size:0;
}
.ui-resizable .ui-resizable-n {
	height:1px;
	top:0;
}
.ui-resizable .ui-resizable-s {
	height:1px;
	bottom:0;
}
.ui-resizable .ui-resizable-e {
	width:1px;
	right:0;
}
.ui-resizable .ui-resizable-w {
	width:1px;
	left:0;
}
.ui-resizable .ui-resizable-se,
.ui-resizable .ui-resizable-sw,
.ui-resizable .ui-resizable-ne,
.ui-resizable .ui-resizable-nw{
	display:none;
	width: 7px;
	height: 7px;
}
.ui-resizable .ui-resizable-se {
	right: -1px;
	bottom: -1px;
}
.ui-resizable .ui-resizable-sw {
	left: -3px;
	bottom: -3px;
}
.ui-resizable .ui-resizable-nw {
	left: -3px;
	top: -3px;
}
.ui-resizable .ui-resizable-ne {
	right: -3px;
	top: -3px;
}
.aw_textarea .ui-resizable-n,
.aw_textarea .ui-resizable-e,
.aw_textarea .ui-resizable-s,
.aw_textarea .ui-resizable-w,
.aw_hotarea .ui-resizable-n,
.aw_hotarea .ui-resizable-e,
.aw_hotarea .ui-resizable-s,
.aw_hotarea .ui-resizable-w{
	background:#666;
}
.aw_textarea .ui-resizable-se,
.aw_textarea .ui-resizable-sw,
.aw_textarea .ui-resizable-ne,
.aw_textarea .ui-resizable-nw,
.aw_hotarea .ui-resizable-se,
.aw_hotarea .ui-resizable-sw,
.aw_hotarea .ui-resizable-ne,
.aw_hotarea .ui-resizable-nw {	
	display:block;
	background:#e6189d;
	border:1px solid #666;
}
.aw_textarea .ui-resizable-se,
.aw_hotarea .ui-resizable-se{
	right:-3px;
	bottom: -3px;
}
.ui-draggable-selected .ui-resizable-n,.ui-draggable-selected .ui-resizable-e,.ui-draggable-selected .ui-resizable-s,.ui-draggable-selected .ui-resizable-w {
	line-height:0;
	font-size:0;
}
.ui-draggable-selected .ui-resizable-n {
	height:1px;
	top:-1px;
}
.ui-draggable-selected .ui-resizable-s {
	height:1px;
	bottom:-1px;
}
.ui-draggable-selected .ui-resizable-e {
	width:1px;
	right:-1px;
}
.ui-draggable-selected .ui-resizable-w {
	width:1px;
	left:-1px;
}
.ui-draggable-selected .ui-resizable-n,.ui-draggable-selected .ui-resizable-e,.ui-draggable-selected .ui-resizable-s,.ui-draggable-selected .ui-resizable-w,
.ui-draggable-selected .ui-resizable-se,.ui-draggable-selected .ui-resizable-sw,.ui-draggable-selected .ui-resizable-ne,.ui-draggable-selected .ui-resizable-nw {
	background:#e6189d;
	border:0;
}
.awqrcode,
.awlike{
	margin:1px;
}
.like1{
	background:url(http://img04.taobaocdn.com/imgextra/i4/310902331/TB2NMz1cFXXXXXgXpXXXXXXXXXX-310902331.gif) no-repeat;
}
.like2{
	background:url(http://img03.taobaocdn.com/imgextra/i3/310902331/TB2BOYMcFXXXXbiXXXXXXXXXXXX-310902331.gif) no-repeat;
}
.ui-draggable-selected .awqrcode,
.ui-draggable-selected .awlike{
	border:1px solid #e6189d;
	margin:0;
}
.ui-draggable-selected .ui-icon-gripsmall-diagonal-se {
	background-image:none;
	right: -3px;
	bottom: -3px;
}
.ui-draggable-selected-app {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	opacity:0.2;
}
.close_drag {
	z-index:50;
	position:absolute;
	left:0;
	top:0;
}
.close_drag:hover{
	-webkit-box-shadow: 0 0 3px 1px #666;
	box-shadow:0 0 3px 1px #666;
}
.x_close {
	display:none;
	z-index:999;
	position:absolute;
	right:-7px;
	top:-7px;
	width:14px;
	height:14px;
	border:0;
	cursor:pointer;
	border:1px solid #e6189d;
	background:url(../images/csspic.png) -80px -5px #fff;
}
.x_close:focus{
	border-color:#e6189d;
}
.aw_qrcode:hover .x_close,
.aw_like:hover .x_close,
.ui-resizable:hover .x_close{
	display:block;
}

.ui-widget-overlay {
	z-index:9998;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity:0.8;
}
.ui-dialog {
	cursor:auto;
	z-index:9999;
	position:fixed;
	top:0;
	left:0;
	border:0;
	padding:0;
	width:300px;
	overflow:hidden;
	background:none;
}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {
	font-family:arial;
}
.ui-dialog .ui-dialog-titlebar {
	padding:0 10px;
	border:0;
	cursor:move;
	outline:medium none;
	position:relative;
	height:30px;
	line-height:30px;
	background:#000;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	font-family:微软雅黑;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
.ui-dialog .ui-dialog-content {
	border:0;
	padding:10px;
	padding-top:0;
	background:#333;
}
.ui-dialog .btn_gencode_dialog,
.ui-dialog .btn_decode_dialog{
	background:#000;
}
.ui-dialog .ui-dialog-titlebar-close {
	position:absolute;
	right:3px;
	top:3px;
	width:25px;
	height:25px;
	line-height:25px;
	background:none;
	border:0;
	cursor:pointer;
}
.ui-dialog .ui-dialog-titlebar-close span {
	display:block;
	text-indent:9999px;
	width:20px;
	height:20px;
	background:url(../images/csspic.png) 0 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity:0.8;
}
.ui-dialog .ui-dialog-titlebar-close span:hover {
	background:url(../images/csspic.png) -25px 0;
}
.ui-dialog .ui-dialog-titlebar-close span.ui-button-text {
	display:none;
}
.ui-dialog .ui-dialog-titlebar-close:hover span {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	opacity:1;
}

.btn_gencode_code #msg {
	color:#cc0000;
}
.btn_gencode_code textarea,
.btn_decode_code textarea {
	width:100%;
	height:250px;
	margin-bottom:20px;
	outline:medium none;
	border:1px solid #eee;
}
.btn_gencode_code .btn button,
.btn_decode_code .btn button {
	height:30px;
	line-height:28px;
	padding:0 20px;
	margin-right:10px;
	border:0;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	color:#fff;
	background:#333;
}
.btn_gencode_code .btn button:hover,
.btn_decode_code .btn button:hover {
	background:#222;
}

.ui-datepicker .ui-state-active,.ui-datepicker .ui-widget-content .ui-state-active,.ui-datepicker .ui-widget-header .ui-state-active {
	border:0;
	color:#fff;
	background:#DA4453;
}

.aw_eftime1 {
	-webkit-transition:all 0.2s ease-out 0s;
	-moz-transition:all 0.2s ease-out 0s;
	-o-transition:all 0.2s ease-out 0s;
	transition:all 0.2s ease-out 0s;
}
.aw_eftime2 {
	-webkit-transition:all 0.3s ease-out 0s;
	-moz-transition:all 0.3s ease-out 0s;
	-o-transition:all 0.3s ease-out 0s;
	transition:all 0.3s ease-out 0s;
}
.aw_eftime3 {
	-webkit-transition:all 0.5s ease-out 0s;
	-moz-transition:all 0.5s ease-out 0s;
	-o-transition:all 0.5s ease-out 0s;
	transition:all 0.5s ease-out 0s;
}
.aw_eftime4 {
	-webkit-transition:all 1s ease-out 0s;
	-moz-transition:all 1s ease-out 0s;
	-o-transition:all 1s ease-out 0s;
	transition:all 1s ease-out 0s;
}
/*正面图特效*/
/*缩放*/
.aw_pocoimage .aw_efa1,.aw_pocoimage .aw_efa2,.aw_pocoimage .aw_efa3 {
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
}
.aw_pocoimage:hover .aw_efa1 {
	-webkit-transform:scale(0,0);
	-moz-transform:scale(0,0);
	transform:scale(0,0);
}
/*缩小到0*/
.aw_pocoimage:hover .aw_efa2 {
	-webkit-transform:scale(0.5,0.5);
	-moz-transform:scale(0.5,0.5);
	transform:scale(0.5,0.5);
}
/*缩小0.5倍*/
.aw_pocoimage:hover .aw_efa3 {
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	transform:scale(1.5,1.5);
}
/*放大1.5倍*/
.rel:hover .aw_pocoimage_all .aw_efa1 {
	-webkit-transform:scale(0,0);
	-moz-transform:scale(0,0);
	transform:scale(0,0);
}
/*触发画布*//*缩小到0*/
.rel:hover .aw_pocoimage_all .aw_efa2 {
	-webkit-transform:scale(0.5,0.5);
	-moz-transform:scale(0.5,0.5);
	transform:scale(0.5,0.5);
}
/*触发画布*//*缩小0.5倍*/
.rel:hover .aw_pocoimage_all .aw_efa3 {
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	transform:scale(1.5,1.5);
}
/*触发画布*//*放大1.5倍*/
/*移动*/
.aw_pocoimage .aw_efb1,.aw_pocoimage .aw_efb2,.aw_pocoimage .aw_efb2_1,.aw_pocoimage .aw_efb3,.aw_pocoimage .aw_efb4,.aw_pocoimage .aw_efb4_1,.aw_pocoimage .aw_efb5,.aw_pocoimage .aw_efb6,.aw_pocoimage .aw_efb6_1,.aw_pocoimage .aw_efb7,.aw_pocoimage .aw_efb8,.aw_pocoimage .aw_efb8_1 {
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
.aw_pocoimage:hover .aw_efb1 {
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	transform:translate(0,-10px);
}
/*向上移动10px*/
.aw_pocoimage:hover .aw_efb2 {
	-webkit-transform:translate(0,-20px);
	-moz-transform:translate(0,-20px);
	transform:translate(0,-20px);
}
/*向上移动20px*/
.aw_pocoimage:hover .aw_efb2_1 {
	-webkit-transform:translate(0,-100px);
	-moz-transform:translate(0,-100px);
	transform:translate(0,-100px);
}
/*向上移动100px*/
.aw_pocoimage:hover .aw_efb3 {
	-webkit-transform:translate(10px,0);
	-moz-transform:translate(10px,0);
	transform:translate(10px,0);
}
/*向右移动10px*/
.aw_pocoimage:hover .aw_efb4 {
	-webkit-transform:translate(20px,0);
	-moz-transform:translate(20px,0);
	transform:translate(20px,0);
}
/*向右移动20px*/
.aw_pocoimage:hover .aw_efb4_1 {
	-webkit-transform:translate(100px,0);
	-moz-transform:translate(100px,0);
	transform:translate(100px,0);
}
/*向右移动100px*/
.aw_pocoimage:hover .aw_efb5 {
	-webkit-transform:translate(0,10px);
	-moz-transform:translate(0,10px);
	transform:translate(0,10px);
}
/*向下移动10px*/
.aw_pocoimage:hover .aw_efb6 {
	-webkit-transform:translate(0,20px);
	-moz-transform:translate(0,20px);
	transform:translate(0,20px);
}
/*向下移动20px*/
.aw_pocoimage:hover .aw_efb6_1 {
	-webkit-transform:translate(0,100px);
	-moz-transform:translate(0,100px);
	transform:translate(0,100px);
}
/*向下移动100px*/
.aw_pocoimage:hover .aw_efb7 {
	-webkit-transform:translate(-10px,0);
	-moz-transform:translate(-10px,0);
	transform:translate(-10px,0);
}
/*向左移动10px*/
.aw_pocoimage:hover .aw_efb8 {
	-webkit-transform:translate(-20px,0);
	-moz-transform:translate(-20px,0);
	transform:translate(-20px,0);
}
/*向左移动20px*/
.aw_pocoimage:hover .aw_efb8_1 {
	-webkit-transform:translate(-100px,0);
	-moz-transform:translate(-100px,0);
	transform:translate(-100px,0);
}
/*向左移动100px*/
.rel:hover .aw_pocoimage_all .aw_efb1 {
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	transform:translate(0,-10px);
}
/*触发画布*//*向上移动10px*/
.rel:hover .aw_pocoimage_all .aw_efb2 {
	-webkit-transform:translate(0,-20px);
	-moz-transform:translate(0,-20px);
	transform:translate(0,-20px);
}
/*触发画布*//*向上移动20px*/
.rel:hover .aw_pocoimage_all .aw_efb2_1 {
	-webkit-transform:translate(0,-100px);
	-moz-transform:translate(0,-100px);
	transform:translate(0,-100px);
}
/*触发画布*//*向上移动100px*/
.rel:hover .aw_pocoimage_all .aw_efb3 {
	-webkit-transform:translate(10px,0);
	-moz-transform:translate(10px,0);
	transform:translate(10px,0);
}
/*触发画布*//*向右移动10px*/
.rel:hover .aw_pocoimage_all .aw_efb4 {
	-webkit-transform:translate(20px,0);
	-moz-transform:translate(20px,0);
	transform:translate(20px,0);
}
/*触发画布*//*向右移动20px*/
.rel:hover .aw_pocoimage_all .aw_efb4_1 {
	-webkit-transform:translate(100px,0);
	-moz-transform:translate(100px,0);
	transform:translate(100px,0);
}
/*触发画布*//*向右移动100px*/
.rel:hover .aw_pocoimage_all .aw_efb5 {
	-webkit-transform:translate(0,10px);
	-moz-transform:translate(0,10px);
	transform:translate(0,10px);
}
/*触发画布*//*向下移动10px*/
.rel:hover .aw_pocoimage_all .aw_efb6 {
	-webkit-transform:translate(0,20px);
	-moz-transform:translate(0,20px);
	transform:translate(0,20px);
}
/*触发画布*//*向下移动20px*/
.rel:hover .aw_pocoimage_all .aw_efb6_1 {
	-webkit-transform:translate(0,100px);
	-moz-transform:translate(0,100px);
	transform:translate(0,100px);
}
/*触发画布*//*向下移动100px*/
.rel:hover .aw_pocoimage_all .aw_efb7 {
	-webkit-transform:translate(-10px,0);
	-moz-transform:translate(-10px,0);
	transform:translate(-10px,0);
}
/*触发画布*//*向左移动10px*/
.rel:hover .aw_pocoimage_all .aw_efb8 {
	-webkit-transform:translate(-20px,0);
	-moz-transform:translate(-20px,0);
	transform:translate(-20px,0);
}
/*触发画布*//*向左移动20px*/
.rel:hover .aw_pocoimage_all .aw_efb8_1 {
	-webkit-transform:translate(-100px,0);
	-moz-transform:translate(-100px,0);
	transform:translate(-100px,0);
}
/*触发画布*//*向左移动100px*/
/*旋转*/
.aw_pocoimage:hover .aw_efc1 {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
/*逆时针旋转45度*/
.aw_pocoimage:hover .aw_efc1_1 {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
/*逆时针旋转90度*/
.aw_pocoimage:hover .aw_efc2 {
	-webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg);
	transform:rotate(-360deg);
}
/*逆时针旋转360度*/
.aw_pocoimage:hover .aw_efc3 {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}
/*顺时针旋转45度*/
.aw_pocoimage:hover .aw_efc3_1 {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*顺时针旋转90度*/
.aw_pocoimage:hover .aw_efc4 {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
/*顺时针旋转360度*/
.rel:hover .aw_pocoimage_all .aw_efc1 {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
/*触发画布*//*逆时针旋转45度*/
.rel:hover .aw_pocoimage_all .aw_efc1_1 {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
/*触发画布*//*逆时针旋转90度*/
.rel:hover .aw_pocoimage_all .aw_efc2 {
	-webkit-transform:rotate(-360deg);
	-moz-transform:rotate(-360deg);
	transform:rotate(-360deg);
}
/*触发画布*//*逆时针旋转360度*/
.rel:hover .aw_pocoimage_all .aw_efc3 {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
}
/*触发画布*//*顺时针旋转45度*/
.rel:hover .aw_pocoimage_all .aw_efc3_1 {
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
}
/*触发画布*//*顺时针旋转90度*/
.rel:hover .aw_pocoimage_all .aw_efc4 {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
/*触发画布*//*顺时针旋转360度*/


/*反面图特效*/
/*旋转出现*/
.aw_pocoimage:hover .aw_effa1 {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
}
/*放大出现*/
.aw_pocoimage .aw_effa2 {
	-webkit-transform:scale(0,0);
	-moz-transform:scale(0,0);
	transform:scale(0,0);
}
.aw_pocoimage:hover .aw_effa2 {
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
}
/*向上移动出现*/
.aw_pocoimage .aw_effa3 {
	-webkit-transform:translate(0,100%);
	-moz-transform:translate(0,100%);
	transform:translate(0,100%);
}
.aw_pocoimage:hover .aw_effa3 {
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
/*向右移动出现*/
.aw_pocoimage .aw_effa4 {
	-webkit-transform:translate(-100%,0);
	-moz-transform:translate(-100%,0);
	transform:translate(-100%,0);
}
.aw_pocoimage:hover .aw_effa4 {
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
/*向下移动出现*/
.aw_pocoimage .aw_effa5 {
	-webkit-transform:translate(0,-100%);
	-moz-transform:translate(0,-100%);
	transform:translate(0,-100%);
}
.aw_pocoimage:hover .aw_effa5 {
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
/*向左移动出现*/
.aw_pocoimage .aw_effa6 {
	-webkit-transform:translate(100%,0);
	-moz-transform:translate(100%,0);
	transform:translate(100%,0);
}
.aw_pocoimage:hover .aw_effa6 {
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}